*{
    margin: 0;
}


.header_top{
    width: 100%;
    height: 87px;
    background-color: #1E2024;
    display: flex;
    align-items: center;
}

.container{
    margin: 0px 100px;
}

.head_top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1000px;
}

.head_top{
    color: #ffff;
}

.header_logo{
    display: flex;
    width: 108px;
}

.header_logo p{
    width: 70px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
}

.header_menu{
    display: contents;
}

.header_menu li{
    list-style-type: none;
    font-family: 'Poppin';
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
}

.header_menu a,
.lang a{
    color: #9099A3;
    text-decoration: none;
}

.header_menu a:hover,
.lang a:hover,
.footer_menu a:hover,
.return_policy a:hover{
    color: #ffffff;
}

.lang li{
    list-style-type: none;
    float: left;
    margin: 0 10px;
}

/*Header_main*/

.header_main{
    background-image: url(/photo/Rectangle\ 2068.png);
    width: 100%;
    height: 580px;
    background-size: cover;
    position: relative;
}

.content{
    display: flex;
    justify-content: space-between;
}

.header_title{
    margin-top: 60px;
}

.header_title h1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #ffff;
}

.header_title p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    width: 419px;
}

.header_button{
    margin-top: 30px;
}

.header_title a{
    text-decoration: none;
    color: #ffff;
    border: 1px solid #FF1A1A;
    background-color:#FF1A1A;
    border-radius: 10px;
    padding: 10px 40px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
}

.header_home{
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-top: 40px;
}

.header_home a{
    text-decoration: none;
    color:  #9099A3;
}

.header_home h5{
    color: #ffff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
}

.gradiend_1{
    position: absolute;
    top: -30px;
    width: 100%;
}

/*main*/

.main_content{
    background-color: black;
    height: 810px;
}

.tittle_1{
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
}

.info_block{
    width: 1040px;
    height: 600px;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 50px 30px 0px 30px;
    display: flex;
    justify-content: space-around;
}

.info_left p{
    width: 486px;
    height: 126px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.info_left img{
    margin-top: 63px;
}


.info_right p{
    width: 370px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}

.info_right h5{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;

}

.info_right .offer{
    width: 390px;
}

.offer p{
    margin-top: 5px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.offer p::before{
    font-family: 'icomoon';
    content: "\f00c";
    color: #FF1A1A;
    margin-right: 15px;
}

.info_right h3{
    width: 342px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.signature{
    display: flex;
    width: 388px;
    margin-top: 10px;
}

.signature p span{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #2C3E50;
}

.main_content_2,
.main_content_3{
    background-color: black;
    position: relative;
}

.Ellipse,
.Ellipse2{
    width: 100%;;
}

.club_format{
   position: absolute;
   top: 0;
}

.title_2{
    color: #ffffff;
}

.card_content{
    width: 1100px;
    height: 1094px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
}

.card{
    width: 440px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px 20px 10px 30px ;
    position: relative;
}
    
.icon_number{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon_number h1{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color:#9099A3;
}

.card_text{
    margin-top: 30px;
}

.card_text h3{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    width: 330px;
}

.card_text p{
    width: 380px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 10px;
}

.card_button{
    text-decoration: none;
    display: flex;
    align-items:center;
    padding: 10px 25px;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #FF1A1A;
    width: 120px;
    color: #ffffff;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.card_button::after{
    font-family: 'icomoon';
    content: "\f178";
}

.jorney_block{
    position: absolute;
    top: 32%;
}

.jorney_block h1,
.Invest h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.jorney_card,
.invest_card{
    margin-top: 20px;
    width: 1040px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.jorney_text,
.invest_text{
    padding: 40px 30px 30px 45px;
    position: relative;
}

.jorney_title,
.invest_title{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.jorney_text p,
.invest_text p{
    margin-top: 10px;
    width: 405px;
    height: 63px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.jorney_choise,
.invest_choise{
    display: flex;
    justify-content: space-between;
}

.jorney_choise p,
.invest_choise p{
    width: 190px;
    height: 60px;
    margin-top: 60px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.jorney_choise p::before,
.invest_choise p::before{
    font-family: 'icomoon';
    content: "\f00c";
    color: #FF1A1A;
    margin-right: 10px;
}

.jornei_button,
.invest_button{
    left: 42px;
    width: 90px;
    padding: 10px 150px;
    border-radius: 50px;
    background-color: #FF1A1A;
    bottom: 50px;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
}

.Invest{
    position: absolute;
    top: 46%;
    z-index: 1;
}

.main_content_3{
    height: 100%;
}

.geography{
    position: absolute;
    top: 24%;
    color: #ffffff;
    width: 100%;
    z-index: 1;
}

.geography h1{
    text-align: center;
}

.country_block{
    position: relative;
}

.country1{
    display: flex;
    position: absolute;
    left: -402px;
    justify-content: space-between;
    width: 1662px;
}

.country1 h1{
    text-align: left;
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 900;
    line-height: 96px;
}

.country2{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1639px;
    top: 110px;
    left: -470px
}

.country2 h3{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 900;
    line-height: 54px;
    text-align: left;
}


 .country3{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1253px;
    top: 210px;
    left: -255px
}

.country3 p{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

/*.Ellipse2{
    position: absolute;
    top: -400px;
    z-index: 1;
}*/

.process{
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 100%;
}

.process h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 900;
    line-height: 54px;
}

.cards_process{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.process_card{
    width: 250px;
    color: #ffffff;
}

.num_icon{
    text-align: center;
    position: relative;
}

.num_icon h4{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 900;
    line-height: 54px;
    position: absolute;
    left: 82px;
    top: -35px;
}

.process-text h6{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.process-text p{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.cards_process_2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.well_help{
    position: absolute;
    bottom: 7%;
}


.help_block{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 1040px;
}

.info_help h1{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
}

.info_help p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9099A3;
    width: 268px;
}

.form_block p{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #9099A3;
}

.form_block input{
    width: 575px;
    background: #4b4d4f;
    border: none;
    padding: 14px 15px 15px 15px;
    border-radius: 15px;
    color:  #FFFFFF80;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.form_block .number,
.form_block .mail{
    margin-top: 5%;
}

.button_form{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

.button_form a{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    width: 306px;
    text-decoration: none;
    color: #9099A3;
}

.button_form input{
    width: 200px;
    background: #FF1A1A;
    color: #ffffff;
    padding: 15px 50px;
}

.button_form a:hover{
    text-decoration: underline;
    color: #ffffff;
}

.button_form input:hover{
    cursor: pointer;
    background: #e20c0c;
}

footer{
    background-color: black;
    height: 400px;
}

.footer_frist{
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 300px;
}

.footer_frist h1{
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    text-align: left;
}

.footer_frist p{
    width: 228px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #9099A3;
    margin-top: 10px;
}

.footer_menu li{
    list-style-type: none;
    margin-top: 10px;
}

.footer_menu a{
    text-decoration: none;
    color: #9099A3;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.messengers{
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin-top: 25px;
}

.facebook::after{
    font-family: 'icomoon';
    content: "\f09a";
}

.INSTAGRAM::after{
    font-family: 'icomoon';
    content: "\f16d";
}

.telegramm::after{
    font-family: 'icomoon';
    content: "\f2c6";
}

.in::after{
    font-family: 'icomoon';
    content: "\f0e1";
}

.youtube::after{
    font-family: 'icomoon';
    content: "\f16a";
}

.tiktok::after{
    font-family: 'icomoon';
    content: "\e900";
}

.messengers a,
.messengers2 a{
    color: black;
    background-color: #ffffff;
    width: 15px;
    height: 16px;
    border-radius: 50px;
    padding: 11px;
    text-decoration: none;
}

.messengers a:hover,
.messengers2 a:hover{
    color: #9099A3;
}

.messengers2{
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer_second{
    width: 1040px;
    display: flex;
    justify-content: space-between;
}

.footer_second p{
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #9099A3;
}

.footer_second a{
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #9099A3;
}

.return_policy{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.return_policy img{
    width: 40px;
    height: 12px;
}